<div class="product">
  <img src="{{ product.thumbnail }}" alt="" />
  <h3>{{ product.title }}</h3>
  <p>{{ product.description }}</p>
  <p>
    <span class="discount__product">{{ product.price }} USD </span>
    <span>477 USD</span>
  </p>
  <ul>
    <li>
      Brand: <span>{{ product.brand }}</span>
    </li>
    <li>
      Category: <span>{{ product.category }}</span>
    </li>
    <li>
      In stock: <span>{{ product.stock }}</span>
    </li>
  </ul>
  <p style="text-align: right">
    <span style="color: rgba(244, 176, 0, 1)"
      >&#9733; {{ product.rating }}
    </span>
    <span>(11)</span>
  </p>
  <button>ADD TO CART</button>
</div>
