<div class="log-in-form">
  <div style="text-align: center">
    <img src="../../assets/Logomark.svg" alt="" />
    <h2>Log in into your account</h2>
    <h4>Welcome back! Please enter your details.</h4>
  </div>

  <form (submit)="handleSubmit($event)">
    <label for="email">Email </label>
    <input
      [(ngModel)]="email"
      type="email"
      name="email"
      placeholder="enter your email"
    />
    <label for="password">Password</label>
    <input
      [(ngModel)]="password"
      type="password"
      name="password"
      placeholder="enter your password"
    />
    <button style="margin-top: 1.5rem" type="submit">Log in</button>
  </form>
</div>
