<div class="products">
  <div class="container__products" *ngIf="products.length">
    <ng-container *ngFor="let productItem of products">
      <app-product [product]="productItem"></app-product>
    </ng-container>
  </div>
  <div class="pagination" *ngIf="pages.length">
    <span (click)="prevPage()" href="#">&laquo;</span>
    <ng-container *ngFor="let page of pages">
      <span [ngClass]="{ active: page === currentPage }"> {{ page }}</span>
    </ng-container>

    <span (click)="nextPage()" href="#">&raquo;</span>
  </div>
</div>
