//reset styles
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Inter", sans-serif;
}

//globle styles

input,
button {
  border-radius: 5px;
  font-family: "Inter", sans-serif;
}

input[type="text"] {
  padding: 0.5rem;
  width: 250px;
  border: 1px solid #e3e3e3;
}

li {
  list-style: none;
}

p {
  margin: 1rem 0rem;
}

button {
  width: 100%;
  padding: 1rem;

  background-color: #56d9d9;
  color: #344054;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
}
