//reset styles
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Inter", sans-serif;
}

//globle styles

input,
button {
  border-radius: 5px;
  font-family: "Inter", sans-serif;
}

input {
  padding: 0.5rem;
  width: 250px;
  border: 1px solid #e3e3e3;
}
